<!doctype html>
<html ng-app>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">    
    <link rel="stylesheet" href="css/trellme.css">
    <!-- The client library requires jQuery  -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://cdn.jsdelivr.net/underscorejs/1.4.3/underscore-min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/trellme.js"></script>
  </head>
  <body  np-app="myApp" ng-controller="controller">

    <div class="navbar navbar-fixed-top">  
      <div class="navbar-inner">  
        <div class="container-fluid">  

          <div class="nav-collapse">  
	    <p class="navbar-text pull-right"><a ng-click="signupform()">Sign Up</a></p>
	    <p class="navbar-text pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p class="navbar-text pull-right"><a ng-click="mylogout()">Sign Out</a></p>
	    <p class="navbar-text pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p class="navbar-text pull-right"><a ng-click="signinform()">Sign In</a></p>
	    <p class="navbar-text pull-left"><b style="font-size:3em;">TrellMe</b></p>
          </div><!--/.nav-collapse -->  
	</div>
      </div>
    </div><br><br>

    <div class="container" id="container">
      <div class="row">
	<div id="signin" class="span12 text-center" style="position:relative; top:40px;">
	  <div id="login">
	    <h1>Sign In</h1><br>
	    <form id="loginForm" name="login" ng-submit="mylogin()" >
	      <div><label for="email"><i>Email:</i></label><input id="email" type="text" name="email" ng-model="user.username" placeholder="Enter your email address" required ></div>
	      <div><label for="password"><i>Password:</i></label><input id="password" type="password" name="password" ng-model="user.password" placeholder="Enter your password" required ></div>
	      <div><button id="submit" type="submit">Submit</button></div>
	    </form>
	  </div>
	</div>

	<div id="signup" class="span12 text-center invisible" style="position:relative; top:-215px;">
	  <div id="_signup">
	    <h1>Sign Up</h1><br>
	    <form id="signupForm" name="signup" ng-submit="mysignup()" >
	      <label for="email"><i>Email:</i></label>
	      <input id="email" type="text" name="email" ng-model="signupu.email" placeholder="Enter your email address" required>
	      <label for="passwrod"><i>Password:</i></label>
	      <input id="password" type="password" name="password" ng-model="signupu.password" placeholder="Enter your password" required>
	      <label for="trello_username"><i>Trello Username:</i></label>
	      <input id="trello_username" type="text" name="trello_username" ng-model="signupu.trello_username" placeholder="Enter your Trello user name" required>
	      <div><button id="submit" type="submit">Submit</button></div>
	    </form>
	  </div>
	</div>

      </div><!--row-->
      <!--<pre>{{user|json}}{{token}}{{signupu|json}}</pre>-->

      <br><div id="report-html" style="position:relative; top:-550px;"></div>

    </div> <!--container-->
  </body>
</html>
