<div class="action">
     <div style="font-size: 14px; line-height: 18px; color: #393939"><b>{{full_name}}</b> {{action}}</div>
     <div style="font-size: 12px; color: #939393">{{date}}</div>
</div>
