<div id="intro">
  <div class="container">
    <h1>TrellMe is a notification and reporting service for your Trello boards.</h1>
  </div>
<!--
                <div style=" padding-top: 20px; ">
                  <a href="#signupform" class="btn btn-success btn-large">
                    Sign Up Now!
                  </a>
                </div>
-->
</div>

<!-- features -->
<div id="features">
  <div class="container">
    <!-- header -->
    <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>Features</span>
      <hr class="right visible-desktop">
    </h2>

    <!-- feature list -->
    <div class="row">
      <div class="span4 feature">
        <!-- <img src="img/feature1.jpg" alt="feature1" class="thumb" /> -->
        <h3>
          <i class="i_cloud"></i> Daily Reports
        </h3>
        <p class="description">
        Keep up with your team's activities by getting a full view of activity across all your Trello boards, every day. Reports include cards due now, upcoming and past due. They also include full snapshots of selected boards.
        </p>
      </div>
      <div class="span4 feature">
        <!-- <img src="img/feature2.jpg" alt="feature2" class="thumb" /> -->
        <h3>
          <i class="i_email"></i> Notifications
        </h3>
        <p class="description">
        Email alerts sent out when cards are due. This helps make sure you don't miss any deadlines and stay on top of your commitments.
        </p>
      </div>
      <div class="span4 feature">
        <!-- <img src="img/feature3.jpg" alt="feature3" class="thumb" /> -->
        <h3>
          <i class="i_soon"></i> Inform Others
        </h3>
        <p class="description">
        <i><span style="color: red">Coming Soon</span></i><br/>
        Automate activity reporting by creating custom reports and notification profiles. Eliminate additional workload of putting together communication to inform others.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Features -->

<!-- starts testimonial -->
<div id="testimonials">
  <div class="container">
    <div class="controls">
      <hr>
    </div>
    <div class="phrases_wrapper">
      <div class="phrase">
        <div class="row">
          <div class="span7">
            <p class="testimony">
            TrellMe is a personal project that I started working on because Trello's notification mechanisms weren't enough for keeping up with my team's work. I'm making this available to everyone in a hope to evolve this tool into something more useful.
            <span>"</span>
            </p>
          </div>
          <div class="span3 offset1">
            <div class="pic">
              <img src="img/pic1.jpg" alt="author" class="img-circle" />
              <span class="name">Dhruv Gami</span><br/>
              <span class="position">TrellMe</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Testimonials -->

<!-- starts footer -->

<div id="footer">
  <div class="container">
    <div class="row">
      <!-- Sign Up Form -->
      <div class="span6 contact_us" ng-include="'/src/app/common/views/signup.html'">
      </div>
      <!-- End Sign Up Form -->

      <div class="span6">
        <h3>The TrellMe Development Board</h3>
        <div class="blog_post">
          <div class="row">
            <div class="span2">
              <a href="https://trello.com/board/trellme-development/51c871f449b009200c000d39">
                <img src="img/pic_blog.png" alt="post image" class="img-circle" />
              </a>
            </div>
            <div class="span4">
              <a href="https://trello.com/board/trellme-development/51c871f449b009200c000d39" class="title" target="_blank">
                See What's New
              </a>
              <div class="intro">
                Check out our Trello Board to see what new features are in development, submit bug reports or feature requests and provide feedback.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <hr><br />
    <div class="row copyright">
      <div class="copy">
        <p>(c) 2013-2014 - TrellMe.com. TrellMe is an independent project and not affiliated with Trello or Fog Creek Software in any way.
        <br /><a href="privacy.html">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Footer -->
