<div class="span12 text-center">
  <h1>Sign In</h1>
  <form name="form" ng-submit="signin()" >
    <div>
      <label for="email"><i>Email:</i></label>
      <input
        type="email"
        ng-model="email"
        ng-required="true"
        placeholder="Enter your email address" />
    </div>

    <div>
      <label for="password"><i>Password:</i></label>
      <input
        type="password"
        ng-model="password"
        ng-required="true"
        placeholder="Enter your password" />
    </div>

    <div>
      <button
        class="btn btn-primary"
        type="submit"
        ng-disabled="form.$invalid || form.$pristine">Sign in</button>
    </div>
  </form>
</div>
