<div class="board">
     <h3 class="name">Board: {{name}}</h3>
     <div class="desc">Description: {{desc}}</div>
     <div class="closed">Closed: {{closed}}</div>
     <div class="url">URL: {{url}}</div>
     {{{lists}}}
</div>
