<div class="card">
     <h5 class="name">Card: {{name}}</h5>
     <div class="desc">Description: {{desc}}</div>
     <div class="due">Due: {{due}}</div>
     <div class="closed">Closed: {{closed}}</div>
     <div class="url">URL: {{url}}</div>
     {{{checklists}}}
</div>