<div class="duecard">
     <div class="name">Card: <a href="{{card_url}}">{{card_name}}</a></div>
     <div class="list">List: {{org_name}} / <a href="{{board_url}}">{{board_name}}</a> / <a href="{{list_url}}">{{list_name}}</a></div>
     <div class="due">Due: {{due}}</div>
     <div class="assignedto">Assigned To: {{assigned_to}}</div>
     {{{checklists}}}
</div>