<h5><i>List: {{list_name}}</i></h5>
<table class="table table-striped">
  <thead>  
    <tr>  
      <th>Card</th>  
      <th>Assignee</th>  
      <th>Due Date</th>  
      <th>Comments</th>  
    </tr>  
  </thead>  
  <tbody>
   {{{rows}}}
  </tbody>
</table>
